:root {
  --main-bg-color: #ffffff;
  --primary-brand: #4d5ae5;
  --dark-text: #2e2f42;
  --normal-text: #434455;
  --hero-bgcolor: #2e2f42;
  --hover-btn: #404bbf;
  --logo-footer: #f4f4fd;
  --border-work-item: #e7e9fc;
  --icons-customers: #8e8f99;
  --icons-hover-footer: #31d0aa;
  --modal-bgc: #fcfcfc;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  background-color: var(--main-bg-color);
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
  width: 100%;
}
.list {
  list-style: none;
  text-decoration: none;
}
.container {
  padding-left: 16px;
  padding-right: 16px;

}
@media screen and (min-width: 320px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}

button {
  padding: 0;
}
/* -------------- Header---------------------- */
.header-area {
  border-bottom: 1px solid var(--border-work-item);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);

  margin-right: 76px;
  text-decoration: none;
}
.logo > span {
  width: 71px;
  color: var(--dark-text);
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 25.5px;
    padding-bottom: 23.5px;
    border: 1px navy;
  }
}
/* @media screen and (min-width: 768px) {
  .header-nav {
    padding: 0;
  }
} */
.logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);

  text-decoration: none;
}

/* --------------------Header navigation-------------------------- */

.site-nav {
  display: flex;
}
.site-nav .item + .item {
  margin-left: 40px;
}

.header-link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-text);

  position: relative;

  padding: 24px 0px 24px 0px;
}
.header-link:hover,
.header-link:focus,
.header-link.current,
.header-link.current::after {
  color: var(--hover-btn);
  opacity: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link::after {
  content: '';

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover-btn);

  position: absolute;
  left: 0;
  bottom: 0;

  opacity: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover::after,
.header-link:focus::after {
  opacity: 1;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header-address {
    text-decoration: none;
    font-weight: 400;

    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    color: var(--normal-text);
  }
}
.header-address + .header-address {
  margin-left: 40px;
}
.header-address:hover,
.header-address:focus {
  color: var(--hover-btn);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
  }
  .header-contakts-list + .header-contakts-list {
    margin-left: 40px;
  }
  .header-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/* -----------------Mobile Menu------------------------ */
.mobile-menu-open {
  border: none;
  background-color: var(--main-bg-color);
  line-height: 0;
}

.menu-mobile {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--main-bg-color);
  width: 100%;
  height: 100%;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.menu-mobile.is-hidden {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 450ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-nav {
  position: relative;
  padding-top: 80px;
  padding-right: 24px;
  padding-bottom: 40px;
  padding-left: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start;
}
.mob-menue-wrap {
  width: 100%;
}
.menu-mob-btn-close {
  display: flex;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--border-work-item);
  justify-content: center;
  align-items: center;
  background-color: transparent;
  top: 24px;
  right: 24px;
  transform: fill var(--hover-btn) 250ms;
}
.mob-site-nav__link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-text);
  text-decoration: none;
}
.mob-site-nav__item + .mob-site-nav__item {
  margin-top: 40px;
}
.soc-list {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  /* gap: 32px; */
  justify-content: space-between;
}

.mob-contact__item + .mob-contact__item {
  margin-top: 40px;
}
.mob-contact-link.link-phone {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;

  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--primary-brand);
}
/* @media screen and (min-width: 320px) {
  .mob-contact-link.link-phone {
  }

} */
@media screen and (min-width: 480px) {
  .mob-contact-link.link-phone {
    font-size: 2.25em;
  }
}

.mob-contact-link.link-mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--normal-text);
}
.mob-site-nav__link:hover,
.mob-site-nav__link:focus {
  color: var(--hover-btn);
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .menu-mobile {
    display: none;
  }
}
.container.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .contacts {
    display: none;
  }
}
.mob-site-nav__link.current,
.portfolio-btn.current {
  color: var(--hover-btn);
  opacity: 1;
}
/*-----------------------Hero-------------------------------------------------*/
.hero-content {
  text-align: center;
  padding-top: 112px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 479px) {
  .hero-content {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 768px) {
  .hero-content {
    max-width: 496px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-content {
    padding-top: 188px;
  }
}
.hero {
  background: var(--hero-bgcolor);

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 432px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet.jpg);
    height: 432px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tablet@2x.jpg);
    }
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero.jpg);
    height: 600px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero@2x.jpg);
    }
  }
}

.hero-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-bg-color);
  text-align: center;
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
  }
}

.hero-btn {
  padding: 16px 32px;
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: var(--main-bg-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-btn);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*-------------------------------------Modal window-------------------------------------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 0.35s linear, visibility 0.35s linear;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  max-width: 392px;
  width: 100%;
  min-height: 586px;
  background-color: var(--modal-bgc);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 586px;
  }
}
.modal-header {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--dark-text);

  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-input-wrap {
  position: relative;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--icons-customers);
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;

  border: 1px solid var(--dark-text);
  border-radius: 4px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--dark-text);

  transition: border-color 250ms;
  outline: none;
}
.modal-input:focus,
.modal-input:hover {
  border: 1px solid var(--primary-brand);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon {
  fill: var(--primary-brand);
}
.modal-close-bt:focus,
.modal-close-bt:hover {
  background-color: var(--hover-btn);
  fill: var(--main-bg-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-bt {
  display: flex;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  background-color: var(--border-work-item);
  top: 24px;
  right: 24px;
  transform: fill var(--hover-btn) 250ms;
}
.modal-input-text {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;


  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  transition: border-color 250ms;
  resize: none;
  outline: none;
}
::placeholder {
  color: var(--icons-customers);
  opacity: 0.5;
}
.modal-input-text:focus,
.modal-input-text:hover {
  border-color: var(--primary-brand);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox {
  display: flex;
  align-items: center;

  margin-bottom: 24px;
}
.modal-text-agreement {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icons-customers);
  padding-left: 8px;
  padding-left: 24px;
  position: absolute;
}
.agreement-style {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--primary-brand);

  padding-left: 4px;
}
.modal-button {
  display: block;
  width: 169px;
  height: 56px;
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-bg-color);
  border: none;
  margin: 0 auto;
  cursor: pointer;
}
.modal-button:focus,
.modal-button:hover {
  background-color: var(--hover-btn);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------------------------------Checkbox--------------------------------------------- */

.checkbox {
  appearance: none;
}
.new-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}
.checkbox:checked + .new-checkbox {
  background-color: var(--hover-btn);
  background-repeat: no-repeat;
  background-size: contain;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*------------------------Main goals-----------------------------------------*/
.goals-caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark-text);
  margin-bottom: 8px;
}

.goals-content {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--normal-text);
}
.goals-list-item + .goals-list-item {
  margin-top: 72px;
}

.goals-list {
  display: block;
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 768px) {
  .goals-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .goals-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .goals-list-item + .goals-list-item {
    margin: 0;
  }
  .goals-caption {
    text-align: left;
  }
}
@media screen and (max-width: 1199px) {
  .goals-pic {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .goals-pic {
    display: flex;
    margin-bottom: 8px;
    height: 112px;
    width: 100%;
    background: #f4f4fd;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  }
  .goals-caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-text);
    margin-bottom: 8px;
  }

  .goals-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--normal-text);
  }

  .goals-list {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    column-gap: 0;
    row-gap: 0;

    padding-top: 120px;
    padding-bottom: 120px;
  }
  .goals-list-item + .goals-list-item {
    margin-left: 24px;
  }
}
/*----------------------------------What we`re doing----------------------------*/
.work-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-text);
}
.work-list {
  display: flex;
  margin-top: 72px;
  margin-bottom: 120px;
}
.work-items + .work-items {
  margin-left: 24px;
}
@media screen and (max-width: 1199px) {
  .work-section {
    display: none;
  }
}
/*---------------------------------------Our team------------------------------------*/
.team-section {
  background-color: var(--logo-footer);
  padding-top: 96px;
  padding-bottom: 96px;
}
.team-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-text);

  margin-bottom: 72px;
}
.team-item + .team-item {
  margin-top: 72px;
}
.team-item {
  max-width: 264px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin-right: auto;
  margin-left: auto;
}

.team-data {
  background-color: var(--main-bg-color);
  text-align: center;

  padding-top: 32px;
  padding-bottom: 32px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-text);

  margin-bottom: 8px;
}
.team-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--normal-text);

  padding-bottom: 8px;
}
.team-net {
  fill: var(--logo-footer);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-net-links {
  display: flex;
  justify-content: center;
}

.team-links {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  background-color: var(--primary-brand);
  justify-content: center;
  align-items: center;
}

.team-links:hover,
.team-links:focus {
  background-color: var(--hover-btn);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-items:hover .team-net,
.team-link-items:focus .team-net {
  fill: var(--logo-footer);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-items + .team-link-items {
  margin-left: 24px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
  }
  .team-item {
    flex-basis: calc((100% - 24px) / 2);
    margin: 0;
  }
  .team-item + .team-item {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-item + .team-item {
    margin-top: 0;
  }
  .team-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}
/*-------------------------------------------------Customers---------------------------------*/
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customers-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;

  margin-bottom: 72px;

  color: var(--dark-text);
}
.customer-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
  justify-content: center;
}

.customers-net {
  width: 104px;
  height: 56px;
  fill: var(--icons-customers);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-a {
  display: flex;
  padding: 0px 0px;
  background: var(--main-bg-color);
  border: 1px solid var(--icons-customers);
  border-radius: 4px;
  box-sizing: border-box;
  width: 190px;
  height: 88px;

  justify-content: center;
  align-items: center;
}
.customers-a:hover {
  border-color: var(--hover-btn);
  cursor: pointer;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-a:hover .customers-net {
  fill: var(--hover-btn);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-a:focus {
  border-color: var(--hover-btn);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-a:focus .customers-net {
  border-color: var(--hover-btn);
  fill: var(--hover-btn);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .customer-list {
    row-gap: 72px;
    column-gap: 24px;
  }
  .customers-a {
    width: 168px;
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customer-list {
    flex-wrap: nowrap;
    justify-content: center;
  }
}
/*---------------------Footer------------------------------------------------*/
.footer-space {
  background-color: var(--dark-text);
  max-height: 664px;
  padding-top: 96px;
  padding-bottom: 96px;
}
.mobile-footer-box {
  display: flex;
  justify-content: center;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-footer);
}
.footer-box {
  width: 264px;
  /* height: 112px; */
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}
.logo.footer-logo {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

.footer-logo > span {
  color: var(--logo-footer);
  margin-bottom: 16px;
  align-items: center;
}
.footer-text {
  margin-top: 16px;
}
/*------------------------------------------Footer social media-----------------------------------*/
.footer-link-word {
  color: var(--main-bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.footer-links {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
}

.footer-soc-link {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;

  background-color: var(--primary-brand);
  justify-content: center;
  align-items: center;
}
.footer-net {
  fill: var(--main-bg-color);
}

.footer-link-item + .footer-link-item {
  margin-left: 16px;
}

.networks-footer {
  display: block;
  align-items: baseline;

  position: inherit;
}
.footer-content {
  align-items: baseline;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--icons-hover-footer);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    max-width: 552px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
  }
  .mobile-footer-box {
    text-align: left;
    justify-content: start;
  }
  .footer-box {
    max-width: 264px;

    margin: 0;
  }
  .footer-links {
    margin-bottom: 0;
  }
  .footer-link-word {
    text-align: left;
  }
  .logo.footer-logo {
    margin-right: 0;
    margin-left: 0;
  }
  
}
@media screen and (min-width: 1200px) {
  .footer-space {
    max-height: 312px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    /* display: flex; */
    flex-wrap: nowrap;
    column-gap: 0;
    row-gap: 0;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    justify-content: space-between;
  }
}
/* -------------------------------------------Mailing----------------------------------------- */

.mailing-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--main-bg-color);
  text-align: center;
  margin-bottom: 16px;
}
.form {
  display: flex;
  flex-direction: column;
}
.input-email {
  width: 100%;
  height: 40px;
  padding-left: 0;
  margin-left: 15px;
  border: 0;
  border-radius: 4px;
  padding-left: 24px;
  font: inherit;
  border: 1px solid var(--main-bg-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  background-color: var(--footer-bg-color);
  color: var(--main-bg-color);
  margin-left: auto;
  margin-right: auto;
}
.form-field {
  position: relative;

  align-items: baseline;

  margin-bottom: 16px;
}
.email {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: var(--main-bg-color);
  opacity: 0.6;

  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-email:focus + .email,
.input-email:not(:placeholder-shown) + .email {
  transform: translateY(-45px);
}
.button-submit {
  display: flex;

  width: 165px;
  height: 40px;
  border: 0;

  background: var(--primary-brand);

  border-radius: 4px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--main-bg-color);
  align-items: center;
  justify-content: center;
  padding: 0px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  margin-left: auto;
  margin-right: auto;
}
.icon-submit {
  fill: var(--main-bg-color);
  margin-left: 16px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-button-submit {
  display: flex;
  justify-content: center;
}
.button-submit:hover,
.button-submit:focus {
  background-color: var(--hover-btn);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mailing-text {
    text-align: left;
  }
  .form {
    flex-direction: row;
  }
  .input-email {
    min-width: 264px;
    height: 40px;
    padding-left: 0;
    margin-left: 15px;
    border: 0;
    border-radius: 4px;
    padding-left: 24px;
    font: inherit;
    border: 1px solid var(--main-bg-color);
    background-color: var(--footer-bg-color);
    color: var(--main-bg-color);
    margin-left: auto;
    margin-right: auto;
  }
  .mob-button-submit {
    margin-left: 24px;
  }
}

/*-------------------------------------Portfolio ----------------------------------*/
.portfolio-area {
  padding-top: 48px;
  padding-bottom: 48px;
}
.portfolio-btns {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
}
.portfolio-btn-list + .portfolio-btn-list {
  margin-left: 24px;
}
.portfolio-btn {
  border: 1px solid var(--border-work-item);
  background: var(--logo-footer);
  border-radius: 4px;
  padding: 8px 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-btn.current {
  background-color: #404bbf;
  color: var(--main-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) {
  .portfolio-btns {
    flex-wrap: nowrap;
justify-content: center ;
  }
  .portfolio-area {
    padding-top: 64px;
    padding-bottom: 64px;
  }

 }
 @media screen and (min-width: 1200px) {
  .portfolio-area {
    padding-top: 100px;
    padding-bottom: 72px;
  }
  
  
 }
/*-------------------------------------Portfolio Cards ----------------------------------*/

  .portfilio-cards > .card-item {
    outline: 1px solid var(--border-work-item);
 
 
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}
.card-item + .card-item{
  margin-top: 48px;
}
.portfolio-items{
  padding-bottom: 48px;
}
.portfilio-cards .card-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-text);

  padding-top: 32px;
  margin-bottom: 8px;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .portfilio-cards{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    /* padding-bottom: 48px; */
  }
  .card-item + .card-item{
    margin-top: 0;
  }
  .portfolio-items{
    padding-bottom: 48px;
  }
  .portfolio-items{
    padding-bottom: 96px;
  }
    
  
}
@media screen and (min-width: 1200px) {
.portfilio-cards > .card-item {
  flex-basis: calc(100% / 3 - 24px);
  outline: 1px solid var(--border-work-item);
  /* margin-top: 48px;
  margin-left: 24px;
 */
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-items{
  padding-bottom: 120px;
  justify-content: space-between;
 
}
/* .portfilio-cards{
  justify-content: center;
} */

}
.portfolio-group {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--normal-text);

  margin-left: 16px;
  padding-bottom: 32px;
}
/* -----------------------------------Cards overlay------------------------------------------- */
.overlay {
  position: absolute;
  background-color: var(--primary-brand);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-footer);
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 40px;
  padding-left: 32px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(0, 100%);
  transition: transform 500ms linear;
}
.profile-card {
  display: block;
  text-decoration: none;
}
.img-wrapper {
  position: relative;
  overflow: hidden;

  width: 396px;
  height: 280px;
}
.card-item:hover .overlay {
  transform: translateY(0);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .img-wrapper {
    width: 356px;
    height: 300px;
  }
  
}
@media screen and (min-width: 1200px) {
  .img-wrapper {
    width: 360px;
  }
  
}